.fossilCard {
    width: 300px;
    max-width: 250px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    height: 375px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    position: relative;
    background-color: whitesmoke;

}

.fossilImage img {
    max-width: 250px;
    width: 100%;
}
.cardTitle {
    font-size: 30px;
    font-family: "Winky Rough", sans-serif;
}
.cardTexture {
    font-size: 20px;
    font-family: "Winky Rough", sans-serif;
}

.white {
    background-color: white;
}
.blue {
    background-color: blue;
}
.black {
    background-color: black;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.actions {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space around;
}
.actions a img {
    width: 25px;
    height: 25px;
}
.actions a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    padding-top: 3px;;
 }