.masthead {
    max-width: 1920px;
    text-align: left;
    margin: 0px auto 20px;

}
.masthead img {
    width: 100%;
}
.masthead h1 {
    font-family: "Winky Rough", sans-serif;
    font-size: 60px;
    margin: 0;
    color: #333;
}